:root {
    --primary-color :#f08e81;
    --while-color :#fff;
}

/* #f08e81 */
.header-gril {
    display: flex;
    width: 100%;
    padding: 0 150px;
}

.content-gril {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 185px;
    background-color: #000;
}

.content-grils {
    background-color: #efefef;
    display: flex;
    margin: 50px 185px 0 185px;
}

.content-gril__min {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px 185px;
    background-color: #000;
}

.content-heading-min {
  display: flex;
}

.content-heading__blog-min {
  color: #777;
  font-size: 15px;
  list-style: none;
  margin: 0 3px;
}

.content-heading__blog-color-min {
  color: var(--primary-color);
}

.content-gril__colums {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 0 170px;
}
.content-gril__colum4 {
    height: 270px;
    flex: 1 1 calc(25% - 20px); 
    margin: 90px 10px 10px 10px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.positions {
    position: absolute;
    width: 100px;
    height: 30px;
    content: "";
    top: -20px;
}

  .inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #747373;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox span {
    position: absolute;
    left: 0;
    padding: 15px 10px 5px 10px;
    font-size: 16px;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .inputbox input:valid ~span,
  .inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-36px);
    font-size: 15px;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 40px;
  }

  @keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }
  @keyframes tudat {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }